<!DOCTYPE html>
<html>
  <head>
    <title>Benny's Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= erb :'layout/_cdn' %>
  </head>

  <body>
    <%= erb :'layout/_navbar' %>
    <%= yield %>
  </body>
</html>
