<div class="container-fluid d-flex align-items-center justify-content-center text-center text-light mt-5">
  <div class="card text-white bg-primary" style="width: 64rem;">
    <h3 class="card-header">License Plate Detection</h3>
    <img src="asset/plate.svg" class="rounded img-thumbnail w-25 mx-auto" alt="license plate detection logo">
    <div class="card-body">
      <p class="card-text">License Plate Detection is a machine learning/datamining project that leverages deep learning to identify and extract license plates from images. This project utilizes Python and popular libraries like OpenCV and TensorFlow to detect license plates accurately in real-world scenarios.</p>
      <br>
      <p>Key features include:</p>
      <ul class="text-start">
        <li>License Plate Detection: Using trained deep learning models, the system can automatically detect license plates in images, identifying the region of interest with high accuracy.</li>
        <li>OpenCV Integration: OpenCV, a powerful computer vision library, is used to preprocess images and apply various transformations to enhance detection performance.</li>
        <li>Convolutional Neural Networks (CNN): A CNN model is trained to recognize and extract license plates from various image types and angles, ensuring robustness in different environments.</li>
        <li>Image Preprocessing: Techniques like grayscale conversion, edge detection, and thresholding are applied to optimize the detection pipeline and improve the clarity of detected plates.</li>
        <li>TensorFlow for Model Training: TensorFlow is used to train the detection model, providing flexibility in experimentation with different architectures and hyperparameters to achieve optimal accuracy.</li>
        <li>Scalable and Extendable: The project is built to be easily scalable, allowing for further development, including plate number recognition or integration into larger systems like traffic management.</li>
      </ul>
    </div>
    <img src="..." class="rounded m-2" alt="...">
    <img src="..." class="rounded m-2" alt="...">
    <img src="..." class="rounded m-2" alt="...">
    <div class="card-body">
      <a href="https://github.com/borvux/license-plate-detection" target="_blank" class="btn btn-secondary">View License Plate Detection Source Code <i class="fa-solid fa-arrow-up-right-from-square fa-fade"></i></a>
    </div>
  </div>
</div>
