<link rel = "stylesheet" href = "CSS/projects.css" />

<!-- -->
<!-- navigation bar at the top -->
<div class = "nav"> 
  <a href = "/#home">Home</a>
  <a href = "/#projects">Projects</a>
  <a href = "/#contact">Contact</a>
</div>

<div class = "images-container">
  <div class = "images-container2">
      <img class = "project-img" alt = "login interface" src = "project1/login.jpeg"/>
      <img class = "project-img" alt = "login interface web version" src = "project1/login-web.jpeg"/>
      <img class = "project-img" alt = "signup interface" src = "project1/signup.jpeg"/>
      <img class = "project-img" alt = "homepage interface" src = "project1/homepage.jpeg"/>
      <img class = "project-img" alt = "logout interface" src = "project1/logout.jpeg"/>
  </div>

  <div class = "text-info">
    <h1>Mod My Ride</h1></br>
    <span>Currently work in progress, will be updating as more progress are completed</span></br>
    <span>Technologies used at the moment: Python Flet, Firebase, MySQL, Vscode, GitHub</span></br>
    <span>GitHub Repo is currently on private, sorry for inconvience</span></br>
  </div>
</div>
