<link rel = "stylesheet" href = "CSS/projects.css" />

<!-- -->
<!-- navigation bar at the top -->
<div class = "nav"> 
  <a href = "/#home">Home</a>
  <a href = "/#projects">Projects</a>
  <a href = "/#contact">Contact</a>
</div>

<div class = "images-container">
  <div class = "images-container2">
      <img class = "project-img" alt = "game menu" src = "project3/menu.jpeg"/>
      <img class = "project-img" alt = "player vs computer" src = "project3/vscomp.jpeg"/>
      <img class = "project-img" alt = "player vs player" src = "project3/vsplayer.jpeg"/>
  </div>

  <div class = "text-info">
    <h1>Tic Tac Toe Game with Minimax algorithm</h1></br>
    <span>This Python application built using Tkinter is a graphical rendition of the classic game Tic Tac Toe. It features
     single-player mode against an AI opponent, where players can choose 'X' or 'O', and multiplayer mode for two players. The game 
     interface includes a grid of buttons representing the game board, with options to restart the game or return to the main menu. 
     The underlying game logic is implemented using Python functions and algorithms such as minimax for the AI opponent. The 
     interface dynamically updates to reflect game progress, displaying the current player's turn and game outcome.</span></br>

    <span>Technologies used: Python Tkinter, Vscode</span></br>
    
    <a href="https://github.com/borvux/tic-tac-toe" target="_blank">
      <button type="button" class = "repo-button"><img class = "icon" alt = "github-icon" src = "https://cdn-icons-png.flaticon.com/512/25/25231.png"/> GitHub Source Code</button>
    </a>
  </div>
</div>
